.body
{background-color: rgb(156, 156, 156); padding-left: 150px; padding-right: 150px; height:inherit; display: flex; align-items: center;
    /* height: 100ch; */
    min-height: 100vh;
    padding-top: 65px;

}
.ToDoContainer
{
    border-radius: 5px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgb(255, 255, 255);
    


}
.txtBox
{
    padding: 0px;
}
.lgOut
{
    margin-top: 10px;
    text-align: right;
}
